:root {
    --gr: #9debc4;
    --primary: #333333;
    --yel: #ebfca6;
    --secondary: #909090;
    --secondary-light: #c8c8c8;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--gr);
    color: var(--primar);
}

header {
    text-align: center;
    margin: 4em 2em;
}

header img {
    width: auto;
    height: 5em;
    mix-blend-mode:darken;
    
}

main {
    margin: 2em;
}

main section {
    display:flex;
    font-weight: bold;
    background-color: var(--yel);
    margin: 2rem auto;
    padding: 0.1rem;
    max-width: 40em;
    
}

main section span {
    display: block;
    margin-right: 2rem;
    color: var(--primary);
    font-size: 2.5rem;
}

main section input {
    flex: 1;
    min-width: 0;
    background: transparent;
    color: var(--primary);
    font-size: 3em;
    font-weight: bold;
    border: 0;
    outline: none;
    text-align: right;
}

footer {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 1em;
    color: var(--secondary);
}